*{/**/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container
{
    max-width: 1400px; /* Ancho máximo del contenido */
    margin: auto; /* Centra el contenedor */
    padding: 20px; /* Espaciado interno para que no quede pegado a los bordes */
}
.anch
{
    margin: auto;
    max-width: 1400px;
}
.logo
{
    display: flex;
    width: 150px;
    margin: auto;
    padding: 20px;
}
nav
{
     display: flex;
     border-top: 4px solid #ddd;
     text-decoration: none;
     justify-content:center;
     flex-wrap: wrap;
}

.barra
{
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-top: 1px solid #ddd;

}
.barra a
{
    color: #333;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    padding: 10px 15px;
}
.barra a:hover
{
    background-color: black;
    color: white;
}
.slide
{
    background-image: url(imagenes/foto_slide.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid #00000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide h1
{
    padding: 5px;
    width: 500px;
    border: 1px solid #00000000;
    border-radius: 10px;
    font-size: medium;
    background-color: #ffffff6e;
    color: aliceblue;
    font-size: 45px;
    text-align: center;
    height: 300px;
}
.p1
{
  background-color: #000;
  justify-content: center;
  color: #ffffff;
  padding: 15px;
  font-weight: bold;
  font-size: 20px;
}
h2
{
    margin: 10px;
    text-align: center;
}